.main {
  /* display: grid; */
  /* grid-template-columns: 1fr auto var(--right-panel-width); */
  display: flex;
  flex-direction: row;
  gap: var(--padding-base-big);
  overflow: hidden;

  height: 100%;
  width: 100%;
  padding: .5rem 0;
}

.canvas {
  height: auto !important;
  width: calc(100% - var(--right-panel-width)) !important;

  display: flex;
  flex-direction: column;
  position: relative;
}

.canvasWindow {
  height: 100% !important;
  width: auto !important;
}

.separator-adjuster {
  display: block;
  background-color: var(--dark-text-hint);
  color: var(--dark-text-color);
  text-align: center;
  width: .5rem;
  padding: 3px;

  writing-mode: vertical-rl;
  line-height: .28rem;
  letter-spacing: .3rem;
  text-orientation: mixed;
  border-radius: 50px;

  font-size: 0.3rem;
  cursor: pointer;
}

.editor {
  width: var(--right-panel-width);

  display: flex;
  flex-direction: column;
  gap: var(--padding-base-big);

  /* overflow-y: auto; */
}

.editor section {
  height: 100% !important;
  width: auto !important;
}

.separator-adjuster:hover {
  filter: brightness(1.3);
}

.monaco-editor {
  height: 100% !important;
  width: 100% !important;
}

.monaco-editor .overflow-guard {
  height: 100% !important;
  width: 100% !important;
}

.editor-tabs {
  position: relative;
  color: var(--dark-text-hint);

  font-size: 0.7rem;
  letter-spacing: 1px;
  transition: all 1s ease;
}

.editor-tabs::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: rgba(240, 248, 255, 0.5);
  z-index: 5;
}

.texture-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.texture-buttons {
  margin-bottom: .5rem;
}

.texture-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 150px));
  grid-auto-rows: 150px;
  gap: var(--padding-base-big);

  overflow-y: auto;
  height: 100%;
}

.img-card {
  background-color: var(--dark-button-color);
  padding: 8px;
  border-radius: 6px;

  display: flex;
  flex-direction: column;
}

.img-wrapper {
  height: 70%;
  /* padding: .5rem; */
}

.img-card label {
  margin-top: .3rem;
}

.img-card img {
  border-radius: 8px;
  object-fit: cover;
}


@media (width < 920px) {
  .main {
    display: flex;
    flex-direction: column;
  }
} 