.wrapper {
  height: 100vh;
  width: 100vw;
  padding: 1rem;

  display: grid;
  /* grid-template-rows: auto minmax(100px, 100%) 5%; // With footer */
  grid-template-rows: auto minmax(100px, 100%);
  background-color: var(--dark-background-color);
  overflow: hidden;
  position: relative;
}

/* .wrapper { */
  /* height: 100%; */
  /* width: 100%; */
  /* padding: 1rem; */

  /* display: grid; */
  /* grid-template-columns: auto 1fr; */
  /* grid-template-rows: auto 1fr auto; */
  /* justify-content: space-around; */
  /* align-items: center; */
  
/* } */

footer {
  /* height: 20%; */
  display: block;
  border-radius: 4px;
  overflow: hidden;
  z-index: 5;
  transition: all .2s ease;
}

.footer-wrapper {
  background-color: var(--dark-button-color) !important;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-wrapper button {
  max-height: 100%;
  padding: 0;
  color: var(--dark-text-color);
  height: 100%;
}

.footer-wrapper button svg {
  height: 100%;
}

.footer-wrapper button .MuiBottomNavigationAction-label {
  display: none;
}

footer:active {
  transform: translateY(2px);
}

@media (width < 930px) {
  .wrapper {
    /* grid-template-rows: minmax(100px, 100%) 5%; // With footer */
    grid-template-rows: minmax(100px, 100%);
  }
}

@media (height < 650px) {
  .wrapper {
    /* grid-template-rows: auto minmax(100px, 100%); */
    grid-template-rows: 1fr;
  }

  footer {
    position: absolute;
    bottom: -48px;
    width: calc(100% - var(--padding-base-big));
    margin: var(--padding-base-big);
    border-radius: 4px;
    justify-self: center;
    height: 45px;
    /* transform: translateY(45px); */
    padding-top: 10px;
    background-color: var(--dark-button-color);
  }

  footer::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: rgba(240, 248, 255, 0.25);
    top: 0;
  }

  footer:hover {
    bottom: -10px;
  }
}