html, body, * {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --dark-background-color: #161619;
  --dark-button-color: #444448;
  --dark-text-color: #f0f8ff;
  --dark-text-hint: #494d5c;
  --padding-base-big: .8rem;
}

img {
  width: 100%;
  height: 100%;
}

/* #root {
  background-color: var(--dark-background-color);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
} */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}