html, body, * {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --dark-background-color: #161619;
  --dark-button-color: #444448;
  --dark-text-color: #f0f8ff;
  --padding-base-big: .8rem;
}

#root {
  background-color: var(--dark-background-color);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
